configuration:
  amfDBName: {{ database_name }}
  amfName: AMF
  webuiUri: {{ webui_uri }}
  debugProfilePort: 5001
  enableDBStore: false
  enableSctpLb: false
  mongodb:
    url: {{ database_url }}
  networkFeatureSupport5GS:
    emc: 0
    emcN3: 0
    emf: 0
    enable: true
    imsVoPS: 0
    iwkN26: 0
    mcsi: 0
    mpsi: 0
  ngapIpList:
    - 0.0.0.0
  ngappPort: {{ ngapp_port }}
  nrfUri: {{ nrf_url }}
  sbi:
    bindingIPv4: 0.0.0.0
    port: {{ sbi_port }}
    registerIPv4: {{ amf_ip }}
    scheme: {{ scheme }}
  sctpGrpcPort: {{ sctp_grpc_port }}
  serviceNameList:
    - namf-comm
    - namf-evts
    - namf-mt
    - namf-loc
    - namf-oam
  supportDnnList:
    - {{ dnn }}
  security:
    integrityOrder:
      - NIA1
      - NIA2
    cipheringOrder:
      - NEA0
  networkName:
    full: {{ full_network_name }}
    short: {{ short_network_name }}
  t3502Value: 720
  t3512Value: 3600
  t3513:
    enable: true
    expireTime: 6s
    maxRetryTimes: 4
  t3522:
    enable: true
    expireTime: 6s
    maxRetryTimes: 4
  t3550:
    enable: true
    expireTime: 6s
    maxRetryTimes: 4
  t3560:
    enable: true
    expireTime: 6s
    maxRetryTimes: 4
  t3565:
    enable: true
    expireTime: 6s
    maxRetryTimes: 4
info:
  description: AMF initial configuration
  version: 1.0.0