configuration:
  amfDBName: {{ amf_database_name }}
  amfName: AMF
  debugProfilePort: 5001
  enableDBStore: false
  enableSctpLb: false
  mongodb:
    name: {{ default_database_name }}
    url: {{ database_url }}
  ngapIpList:
  - 0.0.0.0
  ngappPort: {{ ngapp_port }}
  nrfUri: {{ nrf_url }}
  sbi:
    bindingIPv4: 0.0.0.0
    port: {{ sbi_port }}
    registerIPv4: {{ amf_url }}
    scheme: http
  sctpGrpcPort: {{ sctp_grpc_port }}
info:
  description: AMF initial configuration
  version: 1.0.0